.description {
  display: flex;
  height: 44px;
  align-items: center;
  background-color: #f8f8fa;
  border-bottom: 1px solid #ebecef;
  margin-top: 24px;

  &__item {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding-left: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #737680;

    &_order{
      width: 177px;
    }

    &_date{
      width: 167px;
    }

    &_sum {
      width: 130px;
    }

    &_city {
      width: 440px;
    }

  }
}

