.search {
  width: 320px;
  margin: 24px 0 0 auto;
  height: 40px;
  border: 1px solid #d0d3da;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 12px;

  &__input {
    outline: none;
    border: 0;
    width: 248px;
    height: 20px;
  }

  &__icon {
    width: 16px;
    height: 16px;

    &:hover {
      cursor: pointer;
    }
  }
}
