.table{
  display: flex;
  width: 400px;
  height: 32px;
  margin: 88px 0 0 auto;
  align-items: center;

  &_clients {
    margin: 24px 0 0 auto;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #434652;
  }

  &__select {
    width: 47px;
    height: 32px;
    border: 1px solid #d0d3da;
    border-radius: 4px;
    margin: 0 16px 0 8px;
  }

  &__input {
    width: 47px;
    height: 32px;
    outline: 0;
    border: 1px solid #d0d3da;
    border-radius: 4px;
    margin-left: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  &__pages {
    width: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #bcbfcc;
    margin-left: 4px;
  }

  &__button {
    width: 32px;
    height: 32px;
    background-color: #f8f8fa;
    appearance: none;
    border: 1px solid #d0d3da;

    &:first-of-type {
      margin-left: 16px;
    }

    &:hover {
      cursor: pointer;
    }
  }
  
  &__icon_rotate {
    rotate: (180deg);
  }
}
