.popup {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 50%;

  &_active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
  }

  &__container {
    width: 640px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    &_delete {
      width: 400px;
      height: 310px;
      margin: 450px auto 0 auto;
    }
  }

  &__buttons {
    margin: 27px auto;
    display: flex;
    gap: 16px;
    &_delete {
      margin: 40px auto 32px auto;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__button {
    width: 272px;
    height: 48px;
    appearance: none;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }

    &_delete {
      color: #37393d;
      background-color: #ffffff;
      border: 1px solid #d0d3da;
    }

    &_save {
      background-color: #c06ecc;
      border: 1px solid #bd68ca;
    }

    &_confirm {
      width: 320px;
      height: 40px;
      background-color: #c06ecc;
      border: 1px solid #bd68ca;
    }

    &_cancel {
      appearance: none;
      width: 320px;
      height: 40px;
      background-color: #ffffff;
      border: 0;
      color: #c06ecc;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #37393d;
    text-align: left;
    margin-top: 8px;
  }

  &__input {
    width: 97%;
    height: 40px;
    border-radius: 8px;
    outline: 0;
    border: 1px solid #d0d3da;
    padding-left: 12px;
  }

  &__choice {
    width: 88%;
    margin: 16px auto 0 auto;
  }

  &__select {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #d0d3da;
  }

  &__title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__brand {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #37393d;
  }
}
